<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Local folder feed for NodeConfigurator.Abstractions package -->
    <add key="LocalNuget" value="C:\LocalNuget" />
    <!-- Public NuGet.org for all other packages -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="LocalNuget">
      <package pattern="NodeConfigurator.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
